<form class="example-form">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Специализация врача</mat-label>
    <input type="text"
           placeholder="Выбери одну запись из списка"

           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayWith">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>

    </mat-autocomplete>
    <mat-error *ngIf="myControl.hasError('incorrect')">
      Не выбран из <strong>списка</strong>
    </mat-error>
    <mat-error *ngIf="options.length == 0">
      Не загружен список специализация
    </mat-error>
  </mat-form-field>
</form>
