<mat-form-field appearance="outline">
  <mat-label>{{name}}</mat-label>
  <mat-select placeholder="Статус" [(ngModel)]="value" (ngModelChange)="getValue(value)">
    <mat-option>
      <ngx-mat-select-search
        ngModel
        (ngModelChange)="dictClaimStateFilter($event)"
        placeholderLabel="Введите название"
        noEntriesFoundLabel="Совпадения не найдены">
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let option of listFiltered | async" [value]="option">{{option.name}}</mat-option>
  </mat-select>
</mat-form-field>
