<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Линия здоровья</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list>
      <a mat-list-item routerLink="/home" (click)="drawer.close()">Главная</a>
      <a mat-list-item routerLink="/report/totalDoctor" (click)="drawer.close()">Общий отчет по врачам</a>
    </mat-list>

  </mat-drawer>

  <mat-drawer-content>
   <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
